<!DOCTYPE plist>
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>http://down.weapp.com/apps/zb/002/82/96/66/588420e50ba0625a7bd6912a.ipa</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>display-image</string>
						<key>needs-shine</key>
						<true>
							<key>url</key>
							<string>http://www.weapp.com/picture/app_ios/cn/002/82/96/66/57x57bb.png</string>
						</true>
					</dict>
					<dict>
						<key>kind</key>
						<string>full-size-image</string>
						<key>needs-shine</key>
						<true>
							<key>url</key>
							<string>http://www.weapp.com/picture/app_ios/cn/002/82/96/66/512x512bb.png</string>
						</true>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
					<string>com.rileytestut.Delta</string>
					<key>bundle-version</key>
					<string>1.0</string>
					<key>kind</key>
					<string>software</string>
					<key>title</key>
					<string>Delta - Atom</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>